@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "微软雅黑";
}

ul, ol, li {
  list-style: none;
}

b, strong {
  font-weight: 100;
}

em, i {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-size: 16px;
}

a, u {
  text-decoration: none;
}

input {
  outline: none;
}

img {
  display: block;
  border: 0;
}

body {
  background: #f3f3f3;
}

.headerw {
  width: 100%;
  height: 30px;
  background: #000;
}

.header {
  width: 1190px;
  height: 30px;
  /*  background : #f00;*/
  margin: 0 auto;
}

.header div {
  float: left;
}

.header a {
  font-size: 12px;
  color: #fff;
  line-height: 30px;
}

.header a:hover {
  color: #f00;
}

.welcome {
  font-size: 12px;
  color: #fff;
  margin: 0 22px;
}

.v {
  color: #fff;
  font-size: 12px;
}

.header-left {
  width: 420px;
  height: 30px;
  /*  background : #FF000F;   */
}

.header-left a {
  margin: 0 12px;
}

/* 中间部分----------------------------------*/
.header-center {
  width: 230px;
  height: 30px;
  /*  background : #f0f;*/
  overflow: hidden;
  position: relative;
}

.header-center ul {
  width: 230px;
  height: 120px;
  /*  background : #ccf;*/
}

/*右边-----------------------------------------*/
.header .header-right {
  width: 449px;
  height: 30px;
  /*  background : #fcc;*/
  float: right;
}

.header-right ul {
  float: left;
  margin-left: 22px;
}

.big1-box {
  position: relative;
}

.header-right .myorder {
  background: #fff;
  width: 92px;
  height: 30px;
  border: 1px solid #C00;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 0;
  top: 26px;
  display: none;
}

.header-right .myorder a {
  color: #000000;
  font-size: 10px;
}

.header-right .myorder a:hover {
  color: #f00;
}

.header-right .sanjiao {
  width: 92px;
  height: 5px;
  background: url(../img/header_c5.png) no-repeat;
  background-position: center top;
  position: absolute;
  left: 0;
  top: 22px;
  display: none;
}

.left-img {
  display: inline-block;
  width: 12px;
  height: 12px;
}

/*searchw 第二部分搜索==========================================================*/
.searchw {
  width: 100%;
  height: 84px;
  background: #fff;
  /*position: relative;*/
}

.boxsh {
  box-shadow: 3px 0 5px 0 #222222;
}

.search {
  width: 1190px;
  height: 60px;
  /*background: #ce0;*/
  margin: 0 auto;
  padding: 24px 0 0;
  /*position: absolute;
  left: 115px;
  top: 0;*/
}

/*=====左边div===================-----------*/
.left_box {
  width: 320px;
  height: 34px;
  /*background: #CC0000;*/
  float: left;
}

/*=====中间div===================-----------*/
.center_box {
  width: 650px;
  height: 60px;
  /*  background: #Cc0f50;*/
  float: left;
}

.center_seach div {
  float: left;
}

.center_seach_1 input {
  width: 515px;
  height: 34px;
  border: 0;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 34px;
  padding-left: 25px;
}

.center_seach2 {
  width: 90px;
  height: 36px;
  /*  border:1px solid #cc0;*/
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #000000;
  cursor: pointer;
}

.word_seach li {
  float: left;
  margin-right: 8px;
}

.word_seach a {
  font-size: 12px;
  color: #acacac;
}

.word_seach a:hover {
  color: #f00;
}

/*=====右边div===================-----------*/
.right_box {
  width: 160px;
  height: 36px;
  position: relative;
  /*background: #C39f50;*/
  border: 1px solid #ACACAC;
  padding-left: 30px;
  float: right;
}

.right_seach1 {
  line-height: 36px;
}

.right_seach1 a {
  color: #000;
}

.right_seach2 {
  display: inline-block;
  width: 20px;
  height: 34px;
  background: url(../img/seach_2.png) no-repeat;
  margin: 0 10px;
  display: block;
  float: left;
}

.right_none {
  width: 412px;
  height: 142px;
  background: #fff;
  border: 1px solid #ACACAC;
  position: absolute;
  left: -223px;
  top: 36px;
  display: none;
  cursor: pointer;
  /*z-index: 6;*/
}

.right_img {
  width: 79px;
  height: 128px;
  padding: 15px 0 0 35px;
  float: left;
}

.right_dl li {
  font-size: 14px;
  color: #858594;
  margin: 17px 0;
  width: 355px;
}

.right_dl input {
  width: 50px;
  height: 20px;
  font-size: 13px;
  color: #fff;
  border: 0;
  background: red;
}

.right_bottom {
  position: absolute;
  left: 1117px;
  top: 92px;
}

/*导航全部商品-----------------===============================*/
.navw {
  width: 100%;
  height: 36px;
  background: #fff;
}

.nav {
  width: 1190px;
  height: 36px;
  /*  background: #CC0ff5;*/
  margin: 0 auto;
}

/*左边----------------------------------*/
.nav-left {
  width: 240px;
  background: url(../img/download.png) no-repeat;
  float: left;
  position: absolute;
  z-index: 4;
}

.allshop {
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.shopimgs {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 195px;
  top: 335px;
  background: url(../img/download1.png) no-repeat;
  background-size: 180%;
  background-position: -20px -90px;
  z-index: 5;
}

.shoplist1 .title {
  color: #333;
  font-weight: bold;
  font-size: 13px;
  line-height: 35px;
}

.nav-right {
  width: 730px;
  float: left;
  padding-left: 30px;
  position: absolute;
  left: 357px;
}

.nav-right1 li {
  height: 36px;
  width: 64px;
  font-size: 16px;
  float: left;
  line-height: 45px;
  margin-right: 40px;
}

.nav-right1 li a {
  color: #000;
}

.nav-right1 li a:hover {
  color: #f00;
}

.tabw {
  width: 100%;
  height: 2219px;
}

.tabw .tab {
  width: 1190px;
  height: 2219px;
  margin: 0 auto;
}

.tabreturnw {
  width: 1190px;
  height: 65px;
  background: #fff;
  font-size: 12px;
  line-height: 65px;
  color: #000;
}

.tabreturnw a {
  color: #000;
}

.tabreturnw a :hover {
  color: red;
}

.tabreturnw p {
  float: left;
}

.tabreturnw .returnr {
  float: right;
}

.tablogow {
  width: 1190px;
  height: 129px;
  border-top: 1px solid #333;
  padding-top: 40px;
  background: #fff;
}

.tablogol {
  width: 105px;
  height: 16px;
  padding-left: 15px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.tablogol a:hover {
  color: red;
}

.tablogos {
  width: 950px;
  height: 108px;
  float: left;
  padding-left: 1px;
  padding-top: 1px;
}

.tablogos li {
  width: 130px;
  height: 53px;
  border: 1px solid #ddd;
  float: left;
  position: relative;
}

.tablogos .logonone {
  width: 132px;
  height: 55px;
  line-height: 55px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: -1px;
  top: -1px;
  position: absolute;
  left: -1px;
  top: -1px;
  display: none;
  cursor: pointer;
}

.returnl a:hover {
  color: red;
}

.tabseach {
  width: 1190px;
  height: 192px;
  background: #fff;
  border-top: 1px solid #aaa;
}

.tabseachB .tabbor {
  height: 32px;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}

.tabseachB .tabbor .tabseschS {
  float: left;
}

.tabseachB .tabbor p {
  width: 86px;
  margin-right: 15px;
  text-align: left;
  float: right;
}

.tabseachB h1 {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  width: 105px;
  margin-left: 15px;
  float: left;
}

.tabseschS li {
  width: 138px;
  float: left;
}

.salesw {
  width: 100%;
  height: 34px;
  background: #FFF;
}

.salesw .sales {
  width: 1190px;
  height: 34px;
  margin: 0 auto;
}

.salesl {
  height: 32px;
  border: 1px solid #AAA;
  float: left;
}
.salesl p {
  width: 100px;
  float: left;
  color: #000;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}
.salesl p img {
  display: inline-block;
  margin-left: 5px;
}
.salesl .sabgcolor {
  background: #000;
  color: #fff;
}
.salesl em {
  display: block;
  float: left;
  font-size: 12px;
  color: #AAAAAA;
  margin-top: 7px;
}

.salesr {
  float: right;
  height: 32px;
  color: #666;
  line-height: 32px;
  font-size: 14px;
}
.salesr p {
  float: left;
  text-align: center;
  margin-left: 5px;
}
.salesr .salrignt {
  border: 1px solid #ccc;
  width: 32px;
  color: #000;
}

.tablist {
  width: 1190PX;
  height: 1690px;
  margin-top: 30px;
}
.tablist ul {
  width: 1190px;
  height: 1600px;
  margin-bottom: 90px;
  overflow: hidden;
}

.taball {
  float: left;
  width: 238px;
  height: 320px;
  box-sizing: border-box;
  border-right: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  overflow: hidden;
}
.taball .borderli {
  width: 206px;
  height: 302px;
  border: 1px solid #f7f7f7;
  padding: 16px 15px 0px;
}
.taball .tabli1 {
  width: 206px;
  height: 180px;
  padding-left: 10px;
  position: relative;
}
.taball .tabli1 .tabnone {
  display: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 180px;
  height: 32px;
  line-height: 32px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
}
.taball .tabli2 {
  width: 206px;
  height: 15px;
  padding: 6px 0;
  font-size: 12px;
  line-height: 15px;
}
.taball .tabli2 span {
  text-align: center;
  margin-right: 5px;
  padding: 0 5px;
}
.taball .tabli2 .tabli2l {
  background: red;
  color: #fff;
}
.taball .tabli2 .tabli2r {
  background: #000;
  color: #FFA500;
}
.taball .tabli3 {
  width: 206px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 15px;
}
.taball .tabli4 {
  width: 206px;
  font-size: 14px;
  line-height: 16px;
  color: #f00;
  padding-bottom: 15px;
}

.tablistbot {
  width: 950px;
  padding-left: 240px;
  line-height: 37px;
  font-size: 14px;
  color: #CCCCCC;
}
.tablistbot p {
  float: left;
}
.tablistbot .tabtbor {
  width: 90px;
  border: 1px solid #ddd;
  color: #a8a8a8;
  text-align: center;
  margin: 0 20px;
  cursor: pointer;
}
.tablistbot .tabbot2 span {
  display: block;
  float: left;
  text-align: center;
  width: 42px;
  height: 42px;
  border: 1px solid #ddd;
  margin: 0 3px;
  cursor: pointer;
}
.tablistbot .tabbot4 input {
  border: 0;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border: 1px solid #ddd;
}
.tablistbot .tabbot5 input {
  border: 0;
  margin-left: 20px;
  background: #000;
  width: 60px;
  height: 36px;
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=detail.css.map */

/*# sourceMappingURL=detail.css.map */
